{% extends "base.html" %}
{% block title %}Plate Calculator{% endblock %}
{% block content %}
<div id="pc">
  <div id="pcTitle">
    <h1>Plate Calculator</h1>
    <br>
    <p>Enter a target weight, exclude plates and/or adjust the bar weight as needed:</p>
  </div>
  <form id="pcForm" action="" method="get">
      <input type="number" id="targetWeight" min="0" step="5" required>
      <label for="target_weight"> Target Weight (lbs)</label>
      <p id="errorMessage" class="errorMessage"></p>
      <br>
      {# <p>Imperial (lbs) or Metric (kg)?</p>
      <input type="radio" name="metric_or_imperial" id="imperial">
      <label for="imperial"> Imperial</label><br>
      <input type="radio" name="metric_or_imperial" id="metric">
      <label for="metric"> Metric</label><br>
      <br> #}
      <input type="number" name="bar_weight" id="barWeight" value=45 min="0" step="5">
      <label for="bar_weight"> Bar Weight (lbs)</label><br>
      <p>Select Available Plates:</p>
      <div class="checkbox-group">
      {% for plate in plates %}
      <label for="{{plate}}">
        <input type="checkbox" checked="checked" name="excludeWeights" value={{plate}}>
      {{plate}} lbs</label>
      {% endfor %}
      </div>
      <br>
      <button type="button" onclick="submitForm()">Calculate</button>
    </form>
    <div id="results">
      <h4 id="resultsTitle">Plates needed:</h4>
      <div id="resultContainer"></div>
    </div>
</div>
{% endblock %}
{% block footer %}
<!-- The following code was written by ChatGPT and edited to work by me, I take no credit for this and do not know nearly enough JS-->
<script>
function submitForm() {
  const form = document.getElementById("pcForm");
  const targetWeight = parseFloat(document.getElementById("targetWeight").value);
  const barWeight = parseFloat(document.getElementById("barWeight").value);
  const errorMessage = document.getElementById("errorMessage");
  const resultContainer = document.getElementById("resultContainer");

  if (targetWeight < barWeight) {
    errorMessage.textContent = "The target weight is less than the bar!";
    form.reset();
    return;
  }

  errorMessage.textContent = "";

  const excludeWeights = document.querySelectorAll('input[name="excludeWeights"]:not(:checked)');
  let apiUrl = `${window.location}/${encodeURIComponent(targetWeight)}`;

  if (excludeWeights.length > 0) {
    const excludeWeightsArray = Array.from(excludeWeights).map(checkbox => {
      return 'exclude_plates=' + encodeURIComponent(checkbox.value);
    });

    apiUrl += '?' + excludeWeightsArray.join('&');
  }

  fetch(apiUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      resultContainer.innerHTML = '';

      const plates = data['plate_calculation']['plates'];
      const keysArray = Object.keys(plates);

      keysArray.sort((a, b) => parseFloat(b) - parseFloat(a));

      keysArray.forEach(number => {
        const count = plates[number];
        const paragraph = document.createElement("p");
        paragraph.textContent = `${number} lbs x ${count}`;
        resultContainer.appendChild(paragraph);
      });
    })
    .catch(error => {
      console.error('Error:', error);
    });
}
</script> 
{% endblock%}